.stat{
  background-color: #fff;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-bottom: 2px solid #000;

}

.stat:hover{
  background-image: linear-gradient(to bottom, #f2f9fc, #e5f3f9);
}

.activeStat{
  border-bottom: 5px solid #197B30;
  background-image: linear-gradient(to bottom, #f2f9fc, #e5f3f9);
}

.status{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.count{
  font-size: 50px;
  font-weight: 900;
  color: #0054A6;
  line-height: 1;
}

.amount{
  font-weight: bold;
  color: #7e7e7e;
  margin-bottom: 10px;
}