.button {
  background-color: #197b30;
  color: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  padding: 0 12px;
  height: 28px;
  border: none;
  cursor: 1;
}

.button a {
  text-decoration: none;
  color: inherit;
}

.secondary {
  color: #151515;
  border: 1px solid #cfcfcf;
  background-color: #F7F7F7;
}

.tertiary{
  background-color: #CDE2F6;
  color: #0D4A62;
}

.large{
  padding: 5px 20px;
}